* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f1f1f1;
}

/* Color Theme Swatches in RGBA */
#root {
  width: 100%;
  height: 100%;
}

/* Our App Container */
.container {
  padding-bottom: 80px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.container .collection .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* The header */
.header {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #c0cfd8;
  background: #0d6872;
  padding: 40px;
  text-align: center;
  margin-bottom: .5em;
}

/* The note */
.todoItem {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0d6872;
  font-size: 1.2em;
  margin: .5em 1em;
  background: #c0cfd8;
  border-radius: .5em;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.todoItem span {
  padding: 1em;
}

.todoItem .noteClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #f26d85;
  position: absolute;
  border-radius: 0em .5em .5em 0em;
}

.todoItem .noteClose .closeBtn {
  font-size: .8em;
  color: #bf204a;
  padding: 1.4em;
}

.todoItem:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #dfe7ec;
  -webkit-box-shadow: 0.1em 0.3em 0.7em 0.05em rgba(0, 0, 0, 0.25);
          box-shadow: 0.1em 0.3em 0.7em 0.05em rgba(0, 0, 0, 0.25);
  z-index: 9;
}

/* The add note button */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  width: 1em;
  height: 1em;
  border: 0;
  text-align: center;
  line-height: 1;
  font-size: 5em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #c0cfd8;
  background: #0d6872;
  cursor: pointer;
  -webkit-transition: .6s ease all;
  transition: .6s ease all;
}

/* Textinput */
.textInput {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5em;
  line-height: 80px;
  padding: 0 20px;
  border: none;
  outline: none;
  background: #0d7272;
  font-size: 16px;
  color: #f1f1f1;
}

.textInput::-webkit-input-placeholder {
  color: #c0cfd8;
}

.textInput:-ms-input-placeholder {
  color: #c0cfd8;
}

.textInput::-ms-input-placeholder {
  color: #c0cfd8;
}

.textInput::placeholder {
  color: #c0cfd8;
}
/*# sourceMappingURL=App.css.map */