
body {
    font-family: 'Raleway', sans-serif;
}

.wrap {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-image:url(Assets/tiny_grid.png);
    background-repeat: repeat;
    height:100vh;
    .container {
        height:100vh;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        overflow: hidden;
    }
}

.ideas:nth-child(1) {

}


.ideas {
    height:100vh;
    display: flex;
    flex: 1 0 75%;
    background-image:url(Assets/tiny_grid.png);
    cursor: grab;
    overflow: scroll;
  }

.scrollable {
    width: 500px;
    overflow: scroll;   
}


.IdeaForm {
    display: flex;
    width: 25em;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;


    input {
        margin:1em;
        border: 0;
        border-radius: 0 1em 1em 0em;
        background-color: #ededed;
        align-self: center;
        text-align:center;
        width:100%;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }

    
    button.btn.btn-primary.idea-add {
        margin-top:1em;
        height: 3em;
        border: 0;
        background-color: black;
        color:#cdcdcd;
        align-self: flex-end;
        cursor: pointer;
        border-radius: 1em;
        padding:1em;
        width: 10em;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }

}

.titleStyle {
    height:3em;
    font-weight:700;
    font-size:1.2em;
}

.contentStyle {
    margin:1em;
    height:7em;
    width:100%;
    border: 0;
    border-radius: 0 1em 1em 0em;
    background-color: #ededed;
    align-self: center;
    text-align:center;
    padding-top: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size:1.2em;
    font-weight:400;
}

.subjectHandle.react-draggable {
    width: 22em;
    z-index:9999;
    position: absolute;
    left:2.5em;
    .subject {
        height:10em;
    }
    svg {
        font-size:2em;
        margin-left:.5em;
        cursor:grab;
        width: 1em;
    }
}

input.SubjectStyle::placeholder {
    color: black;
    
}

.SubjectStyle {
    height:3em;
    font-weight:700;
    font-size:1.8em;
    border: 0;
    border-radius: 1em;
    background-color:hotpink;
    align-self: center;
    text-align:center;
    position: absolute;
    user-select: text;
    transition:ease all .6s;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.SubjectStyle:hover {
    box-shadow: .5em .5em 2em #33333375;
}

.noteStyle {
    height:3em;
    font-family: 'Raleway', sans-serif;
    font-size:1.2em;
    font-weight:400;
}

.handle {
    max-width:60em;
    width: 19.5em;
    position: relative;
    height: 8.53em;
    z-index: 999999;
}

.handle:hover {
    z-index: 99999999999;
}

.idea {
    min-height: 8.53em;
    width: 19.5em;
    padding-top:1em;
    // border: solid .1em rgba(51, 51, 51, 0.363);
    cursor: -webkit-grab;
    cursor: grab;
    transition:ease all .7s;
    border-radius: .7em;
    position: absolute;
    border-radius: .7em;
    text-align: center;
    z-index:99;
    font-family: 'Raleway', sans-serif;
    .removeIdea {
        margin-top:-2.2em;
        height:2em;
        visibility: hidden;
        opacity: 0;
        transition:ease all .7s;
    }
    .ideaInput {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size:1em;
        color:white;
        background-color:#333;
        border-radius:3em;
        padding:1em;
        margin:.5em;
        text-align: center;
        width:80%;
    }

    .ideaContentText {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size:1em;
        color:#333;
        background-color:transparent;
        border:thin solid #cdcdcd;
        border-radius: 0em;
        padding:.5em;
        margin:.5em;
        text-align: center;
        width:80%;
        overflow-wrap: break-word;
        overflow: auto;
        min-height: 7em;
    }

    .ideaNoteInput {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size:.9em;
        color:hotpink;
        background-color:transparent;
        border:thin solid #cdcdcd;
        border-radius: 0em;
        padding:1em;
        margin:.5em;
        text-align: center;
        width:80%;
    }
}




.lineTo {
    z-index:1;
    transition:1s ease all;
}

.idea:hover {
    min-height: 8.53em;
    width: 19.5em;
    box-shadow: .5em 0.5em 3em #3333333b;
    // border: solid .5em hotpink;
    cursor: grab;
    padding-top:1em;
    position: absolute;
    background: #fff;
    border-radius: .7em;
    text-align: center;
    .removeIdea {
        visibility: initial;
        opacity: 1;
    }

}

.ideaBubble {
    left: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-color:#333;
    padding-right:2em;
    z-index: 999;
    flex-direction: column;
    flex: 1 0 5%;
    svg {
        width: 100%;
        font-size: 6em;
        color: hotpink;
    }

    h2 {
        text-align:center;
        color:hotpink;
        
    }
    button.btn.btn-primary.idea-add {
        margin-top:1em;
        height: 3em;
        border: 0;
        background-color: hotpink;
        color:black;
        font-size:1.3em;
        font-weight:700;
        align-self: center;
        cursor: pointer;
        border-radius: 1em;
        padding:1em;
        width: 10em;
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-items:center;
        justify-content: center;
        padding-left:1.7em;
        svg {
            font-size: 1.3em;
            color: black;
            width: 1em;
            margin-left:.3em;
        }
    }
    
}

.titleContent {
    font-weight:700;
    color:#333;
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction:column;
    h2 {
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-break: anywhere;
        padding:.3em;
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }
}

.ideaContent {
    color:#333;
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction:column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

    p {
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-break: anywhere;
        padding:.5em;
        font-family: 'Raleway', sans-serif;
        margin: 0;
    }
}

.ideaNote {
    color:hotpink;
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction:column;
    font-style:italic;
    font-size:.9em;
        p {
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-break: anywhere;
        padding:.5em;
        font-family: 'Raleway', sans-serif;
    }
}

.removeIdea {
    background-color: #ffffff40;
    margin-bottom: 1em;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color:#333;
    font-weight:500;
    cursor: pointer;
    width: 3em;
    position:absolute;
    right:0;
    svg {
        font-size:1.2em;
        padding-right:.5em;
    }
}


@media only screen and (max-width: 600px) { 

    .wrap {
        .container {
            flex-direction: column-reverse;
            .ideaBubble {
                width:100%;
                padding: 1em 0;
                h2 {
                    text-align: center;
                    position: absolute;
                    color: hotpink;
                    bottom: -.7em;
                    left: .4em;
                    font-size: 1.1em;
                    opacity: .7;
                }
            }

            .handle {
                width: 6.5em;
                left: 3.3em
                
            }
            .subjectHandle.react-draggable {
                width: 11em;
                height: 5em;
                z-index: 9999;
                position: absolute;
                top: 60%;
                left: 1em;
                .SubjectStyle {
                    height: 2em;
                    font-weight: 500;
                    font-size: 1em;
                }
            }
        }
    }
    .idea {
        font-size: .6em;
        width: 9em;
    }

    .IdeaForm {
        display: flex;
        width: 100%;
        margin-top: 1em;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        input {
            border-radius: 0em;
            height: 2em;
            margin: .2em;
        }
    }
    .contentStyle {
        border-radius: 0em;
        height: 5em;
        margin: .2em;
        padding: 0em;
        padding-top: .5em;
    }

    .ideaBubble button.btn.btn-primary.idea-add {
        font-size: 1em;
        padding-top: 1em;
        padding-left: 2em;
    }
}