*{
	margin:0;
	padding:0;
	list-style-type: none;
	box-sizing:border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}

/*stacking views*/
.app{
	max-width: 30em;
	margin:auto;
	position: relative;
}

.view{
	min-height: 100vh;
	/* display: none !important; */
}

i {
	cursor:pointer;
}

/* .active{
	display: flex !important;
} */


/*layout in each view*/
.view{
	display: flex;
	flex-direction:column;

}

.header{
	text-align: right;
	padding:1em;
}

.main{
	flex: 1 0 auto;
	padding:1em;
}

/*nav*/

.menu a{
	display: block;
	padding:1em;
	border-bottom:thin #ccc dotted;
	color:black;
}

/*header */
.header i{
	margin-left:1em;
	cursor: pointer;
}

/*projects*/
.project{
	margin-bottom: 1em;
}

.project i{
  margin-right:1em;
}

.fa-window-close {
	font-size:1.2em;
}

/* Color Theme Swatches in RGBA */

.color0 { background-color: rgba(242, 186, 19, 1); }
.color2 { background-color: rgba(242, 139, 14, 1); }
.color3 { background-color: rgba(216, 164, 119, 1); }
.color4 { background-color: rgba(165, 27, 14, 1); }
.color5 { background-color: rgba(242, 242, 242, 1); }